@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>Powered By Corey J. Pon</h3>
<p>
    A little sample application to demonstrate an Asp.Net web api with a front end driven by angular.
</p>
<p>
    Feel free to contact me if you have any questions or concerns.
</p>
<address>
    <abbr title="Email">E:</abbr>
    <a href="mailto:corey@coreypon.com">corey@coreypon.com</a>
    <br />
    <abbr title="Phone">P:</abbr>
    832.409.0034
</address>